name: Connectors CI

env:
  CI: true

on:
  push:
    branches: "*"
    paths:
      - packages/connectors/**
  pull_request:
    branches: "*"
    paths:
      - packages/connectors/**

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up environment
        uses: ./.github/actions/setup
      - name: Lint
        run: yarn workspace @mimic-fi/v3-connectors lint

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up environment
        uses: ./.github/actions/setup
      - name: Build
        run: yarn build
      - name: Test
        run: yarn workspace @mimic-fi/v3-connectors test

  integration:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up environment
        uses: ./.github/actions/setup
      - name: Set up hardhat config
        run: .github/scripts/setup-hardhat-config.sh ${{secrets.GOERLI_RPC}} ${{secrets.MUMBAI_RPC}} ${{secrets.MAINNET_RPC}} ${{secrets.POLYGON_RPC}} ${{secrets.OPTIMISM_RPC}} ${{secrets.ARBITRUM_RPC}} ${{secrets.GNOSIS_RPC}} ${{secrets.AVALANCHE_RPC}} ${{secrets.BSC_RPC}} ${{secrets.FANTOM_RPC}}
      - name: Build
        run: yarn build
      - name: Test mainnet
        run: yarn workspace @mimic-fi/v3-connectors test:mainnet
      - name: Test polygon
        run: yarn workspace @mimic-fi/v3-connectors test:polygon
      - name: Test optimism
        run: yarn workspace @mimic-fi/v3-connectors test:optimism
      - name: Test arbitrum
        run: yarn workspace @mimic-fi/v3-connectors test:arbitrum
